<a href="https://colab.research.google.com/github/RohanSiwach2001/pyth-codeio/blob/main/1bm19cs132_class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=3
b=2

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**((a**b)*b))

5
1
6
1.5
1
387420489

In [ ]:
a=input("enter the string")
b=input("enter the number")
c=str(a) + " " + b
print(c)

enter the stringrr
enter the number1
rr 1

In [ ]:
a=30
b=20
d=a*b
print(type(d))
print(d)

<class 'int'>
600

In [ ]:
a=input("enter str1")
b=input("enter str2")
c=a+" "+b
print(c)
print(a,b)

enter str1rr
enter str2tt
rr tt
rr tt

In [ ]:
a=input("enter str")
b=input("enter int")
d=a+ " "+str(b)
print(d)

enter strrr
enter int33
rr 33